{% extends 'layout.html' %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}

{% block content %}
<div>
    <h1>{{ summary_type }}</h1>
    {% for item in pagination.items() %}
        {{ item }}<br>
    {% endfor %}
    {{ render_pager(pagination) }}
    <a href="{{ url_for('index') }}" title="Back to Home Page">返回主页</a>
    {{ render_pagination(pagination) }}
</div>
{% endblock %}

{% block footer %}
    <footer class="text-center">
    <small> &copy; 2019 <a href="https://github.com/NightMarcher" title="Written by Bryan Lee">Bryan Lee</a></small>
    </footer>
{% endblock %}
