{% extends 'layout.html' %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
{% endblock %}

{% block content %}
<main class="main">
    <h1>{{ pagination_title }}</h1>
    {% for item in pagination.get_items() %}
        <a href="{{ url_for('summary', sub_url='?' + item['summary_sub_url']) }}">{{ item['summary_title'] }}</a><br>
    {% endfor %}
    {{ render_pager(pagination) }}
    <a href="{{ url_for('index') }}" title="Back to Home Page">返回主页</a>
    {{ render_pagination(pagination) }}
</main>
{% endblock %}

{% block footer %}
    <footer class="text-center">
    <small> &copy; 2019 <a href="https://github.com/NightMarcher" title="Written by Bryan Lee">Bryan Lee</a></small>
    </footer>
{% endblock %}
